

.titleSection div{
    display: flex;
    align-items: center;
    align-content: center;
    padding: 15px;
}

.titleSection h1{
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
    text-transform: uppercase;
}

.priceSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
    max-height: 700px;
}

.priceSection .firstChartSection{
    width: 60%;
    max-width: 1200px;
    
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.priceSection .firstChart{
   width: 100%;
   max-width: 800px;
    height: auto;
    
}

.priceCardSection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px ;
}

.gradeSection{
    display: flex;
    margin: auto;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px
}

.mapSection{
    padding: 50px;
    display:flex;
    justify-content:space-around;
    
}
.lastSection{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    gap: 80px;
    width: 100%;
}
.lastChart{
    display: flex;
    
    gap: 50px;
    width: 600px;
   
}


.cityMap{
    
    padding: 20px;
    width: 40%;
    max-width: 500px;
    max-height: 800px;
}

@media (max-width: 1500px) {
    .lastSection{
        justify-content: space-around;
    }
    .lastChart{
        flex-wrap: wrap;
    }
}
